.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Orverlay{
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms east-in-out;
}

.ReactModalPortal .ReactModal__after-open{
    opacity: 1;
}

.ReactModalPortal .ReactModal__before-close{
    opacity: 0;
}

.modal{
    background: $light-blue-background;
    color: #fff;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
}

.modal__title{
    margin: 0 0 $m-size 0;
}

.modal__body{
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 $l-size 0;
    word-break: break-all;
}