.widget{
    background: $light-blue-background;
    margin-bottom: $l-size;
}

.widget__message{
    color: $off-white;
    margin: none;
    padding: $l-size;
    text-align: center;
    border-bottom: 1px solid lighten($light-blue-background, 10%);
}

// Widget Header
.widget-header{
    background: $blue;
    color: $off-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

.widget-header__title{
    margin: 0;
}
